﻿@model CPh.Parking.Web.Models.ParkingRecord

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parking Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlotNo)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.FN)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotNo)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.FN)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
