﻿
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center" style="margin-bottom: 1em;">Administration</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3 btn-space">
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary btn-block btn-lg">
            <i class="fa fa-users" aria-hidden="true"></i> Users
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3 btn-space">
        <a asp-controller="Vehicles" asp-action="Index" class="btn btn-primary btn-block btn-lg">
            <i class="fa fa-users" aria-hidden="true"></i> Vehicles
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3 btn-space">
        <a asp-controller="Slots" asp-action="Index" class="btn btn-primary btn-block btn-lg">
            <i class="fa fa-users" aria-hidden="true"></i> Slots
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3 btn-space">
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary btn-block btn-lg">
            <i class="fa fa-users" aria-hidden="true"></i> Reports
        </a>
    </div>
</div>